<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
  <!-- Dash Navbar Left -->
  <div class="nav nav-pills">
    <div class="dash-navbar-left nb-visible">
      <p class="nb-nav-title">Menu</p>
      <ul class="nb-nav">
        <li>
          <a class="collapsed" data-toggle="collapse" href="#collapseStatistics" aria-expanded="false" aria-controls="collapseStatistics">
            <i class="oi oi-graph nb-link-icon"></i>
            <span class="nb-link-text">Statistics</span>
            <span class="fa fa-angle-up nb-btn-sub-collapse"></span>
          </a>
          <!-- Dropdown level one -->
          <ul class="nb-sub-one collapse" id="collapseStatistics">
            <li>
              <a href="#">
                <span class="fa fa-clock-o nb-link-icon"></span>
                <span class="nb-link-text">Daily</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-history nb-link-icon"></span>
                <span class="nb-link-text">Annual</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="oi oi-comment-square nb-link-icon"></i>
            <span class="nb-link-text">Comments</span>
            <span class="badge">4</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="oi oi-calendar nb-link-icon"></i>
            <span class="nb-link-text">Schedule</span>
          </a>
        </li>
      </ul>
    </div> <!-- /.dash-navbar-left -->
  </div>
</nav>
</body>
</html>