<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
  <!-- Dash Navbar Left -->
  <div class="dash-navbar-left nb-visible">
    <a class="navbar-brand" href="#">Navbar</a>

    <p class="nb-nav-title">Home</p>
    <ul class="nb-nav">
      <li>
        <a class="collapsed" data-toggle="collapse" href="#collapseStatistics" aria-expanded="false" aria-controls="collapseStatistics">
          <span class="glyphicon glyphicon-stats nb-link-icon"></span>
          <span class="nb-link-text">Statistics</span>
          <span class="fa fa-angle-up nb-btn-sub-collapse"></span>
        </a>
        <!-- Dropdown level one -->
        <ul class="nb-sub-one collapse" id="collapseStatistics">
          <li>
            <a href="#">
              <span class="fa fa-clock-o nb-link-icon"></span>
              <span class="nb-link-text">Daily</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa fa-history nb-link-icon"></span>
              <span class="nb-link-text">Annual</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="active">
        <a href="#">
          <span class="glyphicon glyphicon-folder-open nb-link-icon"></span>
          <span class="nb-link-text">Pages</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-comment nb-link-icon"></span>
          <span class="nb-link-text">Comments</span>
          <span class="badge">4</span>
        </a>
      </li>
      <li>
        <a class="collapsed" data-toggle="collapse" href="#collapseLevelOne" aria-expanded="false" aria-controls="collapseLevelOne">
          <span class="fa fa-sort-amount-desc nb-link-icon"></span>
          <span class="nb-link-text">Dropdown level 1</span>
          <span class="fa fa-angle-up nb-btn-sub-collapse"></span>
        </a>
        <!-- Dropdown level one -->
        <ul class="nb-sub-one collapse" id="collapseLevelOne">
          <li>
            <a href="#">
              <span class="fa fa-slack nb-link-icon"></span>
              <span class="nb-link-text">Level 1</span>
            </a>
          </li>
          <li>
            <a class="collapsed" data-toggle="collapse" href="#collapseLevelTwo" aria-expanded="false" aria-controls="collapseLevelTwo">
              <span class="fa fa-level-down nb-link-icon"></span>
              <span class="nb-link-text">Dropdown level 2</span>
              <span class="fa fa-angle-up nb-btn-sub-collapse"></span>
            </a>
            <!-- Dropdown level two -->
            <ul class="nb-sub-two collapse" id="collapseLevelTwo">
              <li>
                <a href="#">
                  <span class="fa fa-wifi nb-link-icon"></span>
                  <span class="nb-link-text">Level 2</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-wifi nb-link-icon"></span>
                  <span class="nb-link-text">Level 2</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-wifi nb-link-icon"></span>
                  <span class="nb-link-text">Level 2</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <span class="fa fa-slack nb-link-icon"></span>
              <span class="nb-link-text">Level 1</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <p class="nb-nav-title">Filter</p>
    <ul class="nb-nav">
      <li>
        <a href="#">
          <span class="fa fa-image nb-link-icon"></span>
          <span class="nb-link-text">Image</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fa fa-video-camera nb-link-icon"></span>
          <span class="nb-link-text">Video</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-folder-open nb-link-icon"></span>
          <span class="nb-link-text">Audio</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fa fa-file-text nb-link-icon"></span>
          <span class="nb-link-text">File</span>
          <span class="badge">4</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fa fa-link nb-link-icon"></span>
          <span class="nb-link-text">Active link</span>
        </a>
      </li>
    </ul>
    <p class="nb-nav-title">Category</p>
    <ul class="nb-nav">
      <li>
        <a class="collapsed" data-toggle="collapse" href="#collapseCategoryAll" aria-expanded="false" aria-controls="collapseCategoryAll">
          <span class="glyphicon glyphicon-tags nb-link-icon"></span>
          <span class="nb-link-text">All</span>
          <span class="fa fa-angle-up nb-btn-sub-collapse"></span>
        </a>
        <!-- Dropdown level one -->
        <ul class="nb-sub-one collapse" id="collapseCategoryAll">
          <li>
            <a href="#">
              <span class="fa fa-dot-circle-o nb-link-icon"></span>
              <span class="nb-link-text">UI</span>
              <span class="badge">4</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa fa-dot-circle-o nb-link-icon"></span>
              <span class="nb-link-text">Design</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa fa-dot-circle-o nb-link-icon"></span>
              <span class="nb-link-text">App</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa fa-dot-circle-o nb-link-icon"></span>
              <span class="nb-link-text">Homepage</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <span class="fa fa-dot-circle-o nb-link-icon"></span>
          <span class="nb-link-text">Popular</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fa fa-dot-circle-o nb-link-icon"></span>
          <span class="nb-link-text">Handpicked</span>
        </a>
      </li>
    </ul>
  </div> <!-- /.dash-navbar-left -->
</nav>
</body>
</html>